<div class="container">
    {{> header}}
        <h1>About Page</h1>
        <p>КОЛЕГИ НЕ УСЯХ ПРЕМАХНА # ОТ КОДА ТАКА, ЧЕ ДА РАБОТИ КАКТО ТРЯБВА. МОЛЯ ДА МЕ ИЗВИНИТЕ ЗА ТОВА. ВСИЧКО ДРУГО РАБОТИ?</p>
</div>
{{> footer}}